# Project exclude paths
/Assignment/.gradle/
/Assignment/build/
/Assignment/build/classes/java/main/
/Assignment/build/classes/java/test/
/Golden/.gradle/
/Golden/build/
/Golden/build/classes/java/main/
/Golden/build/classes/java/test/
/Golden-Small/.gradle/
/Golden-Small/build/
/Golden-Small/build/classes/java/main/
/Golden-Small/build/classes/java/test/
/M1/.gradle/
/M1/build/
/M1/build/classes/java/main/
/M1/build/classes/java/test/
/M2/.gradle/
/M2/build/
/M2/build/classes/java/main/
/M2/build/classes/java/test/
/M6/build/classes/java/main/
/M6/build/classes/java/test/
/M7/build/classes/java/main/
/M7/build/classes/java/test/
/M10/.gradle/
/M10/build/
/M10/build/classes/java/main/
/M10/build/classes/java/test/